.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: 90vh;
    box-sizing: border-box;
    
}


.form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding : 3%;
    border-radius: 10px;
    width: 50%;
    
}

.input-container{
    margin-top: 10px;
    width: 90%;
}

.input-container input{
    height: 55px;
    width: 150px;
}

.input-container input:focus{
    outline: none;
}

.publish-btn{
    align-self: center;
    margin-top: 10%;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
    font-size: 24px;
    background-color: maroon;
    color: white;
    transition: background-color 0.3s , transform 0.3s;
    outline: none;
    border: 0px;
}

.publish-btn:hover{
    cursor: pointer;
    transform: scale(1.05);
    outline: none;
}

.difficuty-level{
    margin: 10px 0px 10px 0px;
    padding: 0% 5%;
    width: 100%;
}

.input-label{
    margin-bottom: 5px;
    font-size: 18px;
    margin-top: 10px;
}

