.user-managment-container{
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.user-managment-container h1{
    color: white;
    font-size: 48px;
    font-variant: small-caps;
    align-self: center;
    margin-bottom: 2%;
}

.table-container{
    margin-top: 50px;
}

.radio-group-container{
    align-self: center;
    background-color: #3e3e3e;
    margin-top: 1%;
    padding: 0px 10%;
    border-radius: 5px;
}