.course-details-container {
    padding: 2%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}



.course-header {
    color: white;
    flex: 0 0 auto; /* Prevent the header from shrinking or growing */
}

.course-description {
    padding: 20px;
    color: white;
    font-size: 20px;
    flex: 0 0 auto; /* Prevent the description from shrinking or growing */
}

.course-videos {
    margin-top: 1%;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1; /* Allow this section to grow and take up remaining space */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.no-videos-yet{
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5%;
}