.video-container {
    width: 100%;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;
  }

.title-container{
  color: white;
  margin-bottom: 1%;
}

.title-container h1{
  margin: 0px;
}

.error-container{
  margin-top: 10%;
  color: white;
  font-size: 32px;
  text-align: center;
}
