.dailymotion-player {
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

.spinner-container{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  padding-top: 20%;
}